<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
{% csrf_token %}
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
  
  
<body>
{% for set in stock_data %}
    time -> {{ set.last_trade_time }}
    {{ set.name }}: {{ set.price }}
    <br>
{% endfor %}

    <strong>List of Bitcoin status</strong>
    <br>
    <br>

    {% for i in allCrypto %}
        {{ i.name }} | {{ i.id }} | ({{ i.rank }})
        <br>
        Price = {{ i.priceUsd }}
        <br>
        <br>
        <br>
    {% endfor %}
  </body>
{% endblock %}
</html>
