<!DOCTYPE html>
<html lang="en">

<div>
<iframe width="695" height="429" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRj-R14t8ycXU0IjtVcfX2h2CMC3tHtLWAdPPJwNO3RZjeJW0iAPYBP1J3UpxB25Enb0AV4mfFhx6bC/pubchart?oid=353305219&amp;format=interactive"></iframe>
</div>

<div>
<iframe width="704" height="435" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRj-R14t8ycXU0IjtVcfX2h2CMC3tHtLWAdPPJwNO3RZjeJW0iAPYBP1J3UpxB25Enb0AV4mfFhx6bC/pubchart?oid=543956833&amp;format=interactive"></iframe>
</div>

<div>

</div>
<div>
<iframe width="833" height="742" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRj-R14t8ycXU0IjtVcfX2h2CMC3tHtLWAdPPJwNO3RZjeJW0iAPYBP1J3UpxB25Enb0AV4mfFhx6bC/pubchart?oid=490510544&amp;format=interactive"></iframe>
</div>

<div>
    <iframe width="749" height="463" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRj-R14t8ycXU0IjtVcfX2h2CMC3tHtLWAdPPJwNO3RZjeJW0iAPYBP1J3UpxB25Enb0AV4mfFhx6bC/pubchart?oid=323726861&amp;format=interactive"></iframe>
</div>
<div>
<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRj-R14t8ycXU0IjtVcfX2h2CMC3tHtLWAdPPJwNO3RZjeJW0iAPYBP1J3UpxB25Enb0AV4mfFhx6bC/pubchart?oid=1126469786&amp;format=interactive"></iframe>
</div>
<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRj-R14t8ycXU0IjtVcfX2h2CMC3tHtLWAdPPJwNO3RZjeJW0iAPYBP1J3UpxB25Enb0AV4mfFhx6bC/pubchart?oid=111382699&amp;format=interactive"></iframe>
</div>